@using Doctor_App.Core.Models.Patient
@model List<PatientViewModel>

@{
    ViewData["Title"] = "All Visits";
}

<h2>All Patient Visits</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Gender</th>
                <th>Contect information</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in Model)
            {
                <tr>
                    <td>@visit.FirstName</td>
                    <td>@visit.LastName</td>
                    <td>@visit.Email</td>
                    <td>@visit.DateOfBirth</td>
                    <td>@visit.Gender</td>
                    <td>@visit.ContactInformation</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        No visits found.
    </div>
}